RewriteEngine On
 
RewriteRule ^(/)?$ www

SetEnvIfNoCase Host master APPLICATION_ENV=production
SetEnvIfNoCase Host devel APPLICATION_ENV=staging
SetEnvIfNoCase Host localhost APPLICATION_ENV=development