
table {
	padding-top: 30px;
	width: 90%;
}

th,
td {
	padding: 5px;
	border-bottom: 1px solid #444444;
}

.input,
.textarea {
	width: 250px;
}

.textarea {
	height: 120px;
}

.submit {
	cursor: pointer;
}
